<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>

		<add key="KeyCarpetaExcel" value="Imprimir"/>
		<add key="KeyNombreExcelRemito" value="Remito.xlsx"/>
		<add key="KeyNombreExcelGarantia" value="Garantia.xlsx"/>

	</appSettings>

	<connectionStrings>

		<add name="NombreBD" connectionString="PCMaster"/>
		
		<add name="Usuario" connectionString="Facu"/>
		<add name="Password" connectionString="bCttLQWfLnI7na4jX2suSA=="/>
		<add name="ConnectionTimeout" connectionString="1000"/>

		<add name="PCMaster" connectionString="Data Source=WINServer\SQLServer;Initial Catalog=Telesound_QAS;Integrated Security=False;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>

	</connectionStrings>
	
	
	
</configuration>